*{outline:none;}
*
img{border:0px;}
a:link{
	text-decoration:none;
	color:#FFFFFF;
}
a:visited{
	text-decoration:none;
	color:#FFFFFF;
}
a:hover{
	text-decoration: underline;
}

body{
	background: #000000 url('../img/bg4.jpg') top center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#FFFFFF;
	font-family: "Hurtmold", "Century Gothic", Arial, sans-serif;
	width:1020px;
	margin:auto;
}

/* Sert à nettoyer les flottants */
.spacer {
    clear: both;
    font-size: 0.1em;
    height: 1px;
}

#spacewhite{
	display:block;
	width:230px;
	background:#FFFFFF;
	height:2px;
	margin-top:5px;
	margin-bottom:5px;
}

#spacewhite2{
	display:block;
	width:635px;
	background:#FFFFFF;
	height:2px;
	margin-top:10px;
	margin-bottom:10px;
}

#spacewhite3{
	display:block;
	width:475px;
	background:#FFFFFF;
	height:2px;
	margin-top:10px;
	margin-bottom:10px;
}

header{
	display:block;
	width:100%;
}

#menu{
	width:1020px;
	height:62px;
	background-color:#3e3e3e;
	text-align:center;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;}
	
#menutracker
{
	width:635px;
	height:45px;
	background-color:#3e3e3e;
	text-align:center;
	font-size: 12px;
}

#menutracker dl
{
	margin:0; padding:0;
	line-height:40px;
}

#menutracker dl:hover
{
	margin:0; padding:0;
	background:#727272;
	line-height:40px;
}

#menutrackerfocus
{
	margin:0; padding:0;
	background:#727272;
	line-height:40px;
}

#separator{
	width:2px;
	height:61px;
	background:url(../img/separator.png);
	float:right;}
	
#menu dl{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	line-height:62px;
	padding-left:2px;}
	
#menu dl:hover{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;}

#menufocus{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;}	
	
/* Effet hover Accueil */
#left:hover{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;}

/* Effet hover Accueil */
#menufocusleft{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;}	
	
/* Effet hover Boutique */
#right:hover{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;}

/* Effet hover Boutique */
#menufocusright{
	display:block;
	height:62px;
	width:168px;
	float:left;
	margin:0; padding:0;
	background:#727272;
	padding-left:2px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;}

.logo img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 900ms;
	-webkit-transition: all 900ms;
	-moz-transition: all 900ms;
	-ms-transition: all 900ms;
	-o-transition: all 900ms;
}

.logo img:hover {
    background:url('../img/tmpLogo_on.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 900ms;
	-webkit-transition: all 900ms;
	-moz-transition: all 900ms;
	-ms-transition: all 900ms;
	-o-transition: all 900ms;
}
#top-maincontent{
	display:block;
	width:100%;
	background: url('../img/MainContent_TOP.png') no-repeat;
	height:205px;
	min-height:205px;
	max-height:205px;
}

#rpt-maincontent{
	display:block;
	width:100%;
	background: url('../img/MainContent_REPEATER.png') repeat-y;
	margin-bottom:50px;
	padding-bottom:10px;
}

#site-content{
	margin-top:15px;
}

h1.page{
	font-size:16px;
	float:right;
	margin-top:2px;
	margin-right:25px;
}

#left-column{
	float:left;
	width:175px;
	margin-left:-15px;
}

.menu-category{
	background: url('../img/LeftMenu_TitleBar.png') no-repeat;
	width:201px;
	height:40px;
	margin-left:-25px;
	text-align:center;
	position:relative;
}

.menu-icon{
	float:left;
	margin-left:15px;
	margin-top:4px;
}
.catmenutitle{
	float:left;
	margin-left:15px;
	margin-top:10px;
}

a.menuitem{
	display:block;
	width:170px;
	height:37px;
	margin:0px;
	margin-left:5px;
	background: url('../img/LeftMenuItem.png');
	text-decoration:none;
	
	margin-top:-3px;
}

a.menuitem span{
	float:left;
	margin-top:8px;
	width:100%;
	margin-left:15px;
}
a.menuitem:hover{
	cursor:pointer;
	opacity:0.7;
	color:yellow;
}

#menuitemhover{
	cursor:pointer;
	color:yellow;
}

#content{
	float:left;
	width:680px;
	margin-left:15px;
}

#content2{
	float:left;
	width:530px;
	margin-left:15px;
}

.slideshow{
	margin-top:5px;
	margin-left:25px;
	padding-bottom:20px;
}

.cadre{
	width:650px;
	min-height:160px;
	background: #383838;
	margin-left:15px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}
.cadre2{
	width:650px;
	background: #383838;
	margin-left:15px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}
.cadre3{
	width:650px;
	min-height:945px;
	background: #383838;
	margin-left:15px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}
.cadre4{
	width:650px;
	height:160px;
	background: #383838;
	margin-left:15px;
	padding-left:10px;
	padding-right:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}

.cadre5{
	width:650px;
	height:100px;
	background: #383838;
	margin-left:15px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}

.cadre6{
	width:350px;
	height:110px;
	background: #383838;
	margin-left:175px;
	margin-top:15px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}

.cadre7{
	width:490px;
	background: #383838;
	margin-left:170px;
	margin-top:30px;
	padding:10px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */
	
	/* BORDURES ARRONDIES */
	border-radius:8px;
	-webkit-border-radius:8px;

	z-index: 1;
}

.newscontent{
	background: #595957;
	width:635px;
	padding:7px;
	font-size:13px;
	letter-spacing:1px;
	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}

.newscontent2{
	background: #595957;
	width:635px;
	height:85px;
	padding:7px;
	font-size:13px;
	letter-spacing:1px;
	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}

.newscontent5{
	background: #595957;
	width:635px;
	height:70px;
	padding:7px;
	font-size:13px;
	letter-spacing:1px;
	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}

.newscontent3{
	background: #595957;
	width:500px;
	margin-top:-10px;
	margin-left:60px;
	padding:15px;
	font-size:13px;
	letter-spacing:1px;
	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}

.newscontent4{
	background: #595957;
	width:475px;
	padding:7px;
	font-size:13px;
	letter-spacing:1px;
	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}

#newspics{
	background: url('../img/Avatar.png') no-repeat;
	height:70px;
	padding-left:80px;
	padding-top:6px;
}

#newstext{
	margin-bottom:40px;
}

#newscom
{
	float:right;
	position:relative;
	bottom:10px;
}

#newsdate
{
	float:left;
	position:relative;
	bottom:10px;
}

#commentdate
{
	position:relative;
	bottom: -7px
}

#commentnews
{
	position:relative;
	top:15px;
	left:10px;
	font-size:40px;
	z-index: 2;
}

#titre
{
	position:relative;
	margin-left:10px;
	margin-top:-18px;
	font-size:30px;
	z-index: 2;
}

#titrebug
{
	position:relative;
	margin-left:10px;
	margin-top:-18px;
	font-size:30px;
	z-index: 2;
}

#messagecomment1
{
	font-size:15px;
}

#messagecomment2
{
	font-size:15px;
	margin:50px;
}

#messagecomment3
{
	font-size:15px;
	margin-top:15px;
	margin-left:20px;
}

#messagecomment4
{
	font-size:15px;
	margin-left:20px;
	margin-bottom:10px;
}

a.previous {
	padding: 0 20px 0px 10px !important;
	background: transparent url('../img/prev_next_arrows.png') no-repeat 0 2px;
}
a.next {
	padding: 0px 10px 0px 20px !important;
	background: transparent url('../img/prev_next_arrows.png') no-repeat 100% -19px;
}

#pagination a
{
	text-decoration: underline;
	color:#F0C300
}

#listbug a
{
	color:#F0C300
}

#right-column{
	float:left;
	width:325px;
}

#connexion{
	background:#3f3f3f;
	border-radius:6px;
	-webkit-border-radius:6px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */

	z-index: 1;
	height:171px;
	width:256px;
	padding-left:15px;
	margin-left:15px;
	margin-top:10px;
}

#connexion input[type="text"] {
    width: 150px;
    height: 16px;
    
}

#connexion input[type="password"] {
    width: 150px;
    height: 16px;
}


.relative
{
	position:relative;
}

h1.rightmenustat{
	background: url('../img/RightMenuTitleCopy.png') no-repeat;
	height:18px;
	width:255px;
	font-size:14px;
	padding-left:15px;
	padding-top:4px;
}
h1.rightmenu{
	background: url('../img/RightMenuTitleCopy.png') no-repeat;
	height:17px;
	width:255px;
	float:left;
	font-size:14px;
	padding-left:15px;
	padding-top:4px;
}
#titlearenes{
	font-size:14px;
	margin-left:205px;
	margin-bottom:10px;
	float:left;
}
#titlehonor{
	font-size:14px;
	margin-left:530px;
	margin-bottom:10px;
}
#arena{
	background: url('../img/arena.png') no-repeat;
	height:200px;
	width:650px;
	margin-top:10px;
	margin-bottom:45px;
}
#honor{
	background: url('../img/honor.png') no-repeat;
	height:200px;
	width:650px;
	margin-top:10px;
	margin-bottom:45px;
}
.intxt
{
	background: transparent url('../img/input_Text.png') no-repeat;
	color: white;
    font-size: 12px;
    height: 29px;
    padding-left: 8px;
    padding-right: 6px;
    width: 76px;
	border:0px;
	position: relative;
}

#button{
  background:#6D6C6C;
  border:0px;
  -webkit-border-radius:14px;
  font-family: "Trebuchet MS", arial, sans-serif;
  cursor:pointer;
  height:25px;
  font-size:12px;
  color:#ffffff;
}

#buttonok{
  background:#6D6C6C;
  border:0px;
  padding: 7px 8px 7px 7px;
  text-align: center;
  -webkit-border-radius:14px;
  font-family: "Trebuchet MS", arial, sans-serif;
  cursor:pointer;
  height:25px;
  font-size:12px;
  color:#ffffff;
}

.worgen{
	position: relative;
    left: 100px;
    top: -150px;
    z-index: 2;
}

#stats
{
	background:#3f3f3f;
	border-radius:6px;
	-webkit-border-radius:6px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */

	z-index: 1;
	width:256px;
	height:200px;
	margin-left:15px;
	padding-left:15px;
	margin-top:10px;
}

#bugstracker
{
	background:#3f3f3f;
	border-radius:6px;
	-webkit-border-radius:6px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */

	z-index: 1;
	width:256px;
	height:230px;
	margin-left:15px;
	padding-left:15px;
	margin-top:10px;
}
#votecadre
{
	background:#3f3f3f;
	border-radius:6px;
	-webkit-border-radius:6px;
	/* FILTRES D'OPACITE */
	opacity:0.8;
    -ms-filter: "alpha(opacity=80)"; /* IE 8 */

	z-index: 1;
	width:270px;
	height:155px;
	margin-left:15px;
	margin-top:10px;
	margin-bottom:10px;
}
#arenes
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:150px;
	height:115px;
	float:left;
	margin-right:5px;
	margin-bottom:30px;
}

#topvotants
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:210px;
	height:140px;
	float:left;
	margin-left:15px;
}

#typearenes
{
	margin-left:60px;
}

#honneur
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:170px;
	height:115px;
	margin-left:15px;
	float:left;
}

#statistiques
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:205px;
	height:25px;
	font-size:20px;
	padding-left:25px;
	padding-top:5px;
	margin-bottom:25px;
	float:left;
}

#buttonaddbug
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:205px;
	height:25px;
	font-size:20px;
	padding-top:5px;
	float:left;
}

#buttonlistbug
{
	background:#595957;
	border-radius:6px;
	-webkit-border-radius:6px;
	width:205px;
	height:25px;
	font-size:20px;
	padding-top:5px;
	margin-bottom:10px;
	float:left;
}

.popstats
{
	width:173px;
	height:28px;
	background:url(../img/PopStatBG.png);
	margin-top:20px;
	float:left;
	color:#ffffff;
	text-indent:0px;
	padding-top:10px;
	margin-top:4px;
	margin-left:30px;
}
#a2
{
	float:left;
	margin-top:-32px;
	margin-left:-20px;
}
#h2
{
	float:right;
	margin-top:-37px;
	margin-right:-20px;
}
#progress
{
	background: url(../img/ProgressBarBG.png);
	width:191px;
	height:29px;
	float:left;
	margin-top:15px;
	margin-left:25px;
}
#textprogressoff
{
	float:right;
	margin-top:6px;
	margin-right:63px;
}
#textprogresson
{
	float:right;
	margin-top:5px;
	margin-right:33px;
}
#pourcent
{
	float:left;
	width:105px;
	text-align:center;
}
.rempli_off
{
	height:29px;
	display:block;
	border-radius:12px;
	-webkit-border-radius:12px;
	-o-border-radus:12px;
	background:#DB1702;
	opacity:0.4;
	width:192px;
}
.rempli_on
{
	height:29px;
	display:block;
	border-radius:12px;
	-webkit-border-radius:12px;
	-o-border-radus:12px;
	background:#22780F;
	opacity:0.4;
	width:192px;
}
.voteimg
{
	margin-left:12px;
	margin-top:15px;
}
#footer
{
	width:1020px;
	height:50px;
	background-color:#3e3e3e;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align:center;
	color:white;
	padding-top:10px;
}
.form_col {
  display: inline-block;
  padding: 3px 0px;
  width: 230px;
  min-height: 1px;
  text-align: right;
}
.form_col2 {
  display: inline-block;
  padding: 3px 0px;
  width: 245px;
  min-height: 1px;
  text-align: right;
}
.form_col3 {
  display: inline-block;
  padding: 3px 0px;
  width: 250px;
  min-height: 1px;
  text-align: right;
}
.form_col4 {
  display: inline-block;
  padding: 3px 0px;
  width: 190px;
  min-height: 1px;
  text-align: right;
}
input {
  padding: 2px;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

input:-webkit-autofill {
    color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.correct {
  border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
  border-color: rgba(68, 191, 68, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(82, 234, 82, 0.5);
  box-shadow: 0 0 8px rgba(82, 234, 82, 0.5);
}

.incorrect {
  border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
  border-color: rgba(191, 68, 68, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(82, 234, 82, 0.5);
  box-shadow: 0 0 8px rgba(82, 234, 82, 0.5);
}

.tooltip {
  display: inline-block;
  margin-left: 10px;
  color: #FF0000;
  padding: 2px 4px;
}
#cadrepriority{
	display: inline-block;
	width: 110px;
	height: 55px;
	background: #595957;
	float:left;
	margin-top:30px;
	margin-left:400px;
	margin-bottom:10px;
	
}
#cadrestatus{
	display: inline-block;
	width: 110px;
	height: 55px;
	background: #595957;
	margin-top:30px;
	margin-left:10px;
	margin-bottom:10px;
}

#chemin{
	margin-top:-30px;
	margin-bottom:22px;
	margin-left:10px;
}

#armory1{
	width: 350px;
	height: 500px;
	margin-left:50px;
}

/* inventory (shared) */
.summary-inventory .slot { position: absolute; }
.summary-inventory a.item { width: 49px; height: 49px; display: block; position: absolute; }
.summary-inventory a.item img { display: block; width: 44px; height: 44px; padding: 3px 0 0 3px; }
.summary-inventory a.item:hover .frame { background-color: rgba(255, 255, 255, 0.2); }
.summary-inventory a.empty { width: 49px; height: 49px; display: block; cursor: help; position: absolute; background: url("../img/item-empty-bg.png") no-repeat; opacity: 0.33333; }
.summary-inventory a.empty:hover { opacity: 0.66666; }
.summary-inventory a.item .frame, .summary-inventory a.empty .frame { position: absolute; left: 0; top: 0; width: 49px; height: 49px; background: url("../img/inventory-slots.png") no-repeat; }
.summary-inventory .slot,
.summary-inventory a.item,
.summary-inventory a.item .frame,
.summary-inventory a.empty { -webkit-border-radius: 4px; border-radius: 4px; }

/* empty slots */
.summary-inventory .slot-1  a.empty { background-position: 1px 1px;    } /* Head */
.summary-inventory .slot-2  a.empty { background-position: 1px -46px;  } /* Neck */
.summary-inventory .slot-3  a.empty { background-position: 1px -93px;  } /* Shoulder */
.summary-inventory .slot-16 a.empty,                                     /* Back */
.summary-inventory .slot-5  a.empty { background-position: 1px -140px; } /* Chest */
.summary-inventory .slot-19 a.empty { background-position: 1px -187px; } /* Tabard */
.summary-inventory .slot-4  a.empty { background-position: 1px -234px; } /* Shirt */
.summary-inventory .slot-9  a.empty { background-position: 1px -281px; } /* Wrist */
.summary-inventory .slot-10 a.empty { background-position: 1px -328px; } /* Hands */
.summary-inventory .slot-6  a.empty { background-position: 1px -375px; } /* Waist */
.summary-inventory .slot-7  a.empty { background-position: 1px -422px; } /* Legs */
.summary-inventory .slot-8  a.empty { background-position: 1px -469px; } /* Feet */
.summary-inventory .slot-11 a.empty { background-position: 1px -516px; } /* Finger */
.summary-inventory .slot-12 a.empty { background-position: 1px -563px; } /* Trinket */
.summary-inventory .slot-21 a.empty { background-position: 1px -610px; } /* Main Hand */
.summary-inventory .slot-22 a.empty { background-position: 1px -657px; } /* Off Hand */
.summary-inventory .slot-15 a.empty { background-position: 1px -704px; } /* Ranged */
.summary-inventory .slot-28 a.empty { background-position: 1px -751px; } /* Relic */

/* item quality frames */
.summary-inventory .item-quality-0 a.item .frame { background-position: -49px  0; }
.summary-inventory .item-quality-1 a.item .frame { background-position: -98px  0; }
.summary-inventory .item-quality-2 a.item .frame { background-position: -147px 0; }
.summary-inventory .item-quality-3 a.item .frame { background-position: -196px 0; }
.summary-inventory .item-quality-4 a.item .frame { background-position: -245px 0; }
.summary-inventory .item-quality-5 a.item .frame { background-position: -294px 0; }
.summary-inventory .item-quality-6 a.item .frame { background-position: -343px 0; }
.summary-inventory .item-quality-7 a.item .frame { background-position: -392px 0; }

/* inventory (simple) */
.summary-inventory-simple { width: 400px; height: 470px; position: relative; left: 120px; margin-top:10px;}
.summary-inventory a.item { -webkit-box-shadow: 0 0 8px black; box-shadow: 0 0 8px black; }

/* health/resource */
.summary-health-resource {width: 200px; position:relative; left:110px; top:10px; }
.summary-health-resource li { padding-left: 11px; text-shadow: 1px 1px 1px #000; -webkit-border-radius: 3px; border-radius: 3px; background: url("../img/health-resource-bg.png") repeat-x; cursor: help; list-style-type:none; }
.summary-health-resource li, .summary-health-resource span { height: 23px; line-height: 23px; }
.summary-health-resource .name { font-size: 11px; }
.summary-health-resource .value { font-size: 12px; font-family: 'Arial Black', Verdana, Arial, sans-serif; font-weight: bold; padding-left: 5px; }
.summary-health-resource .health { background-position: 0 0; margin-bottom: 7px; background-color: #248000; }
.summary-health-resource .resource-0 { background-position: 0 -23px; background-color: #1c8aff; }  /* Mana */
.summary-health-resource .resource-1 { background-position: 0 -69px; background-color: #ab0000; }  /* Rage */
.summary-health-resource .resource-2 { background-position: 0 -115px; background-color: #964414; } /* Focus */
.summary-health-resource .resource-3 { background-position: 0 -46px; background-color: #cb9501; }  /* Energy */
.summary-health-resource .resource-6 { background-position: 0 -92px; background-color: #00accb; }  /* Runic */

/* stats */
.summary-stats { position:relative; left:220px; top:60px; }
.summary-stats .summary-stats-column h4 { color: white; font-size: 14px; font-weight: bold; margin-bottom: 7px; line-height: 21px;}
.summary-stats-column { width: 130px; white-space: nowrap; }
.summary-stats-column li { cursor: help; list-style-type:none; float:right; margin-right:20px; }
.summary-stats-column li.has-icon { line-height: 15px; }
.summary-stats-column li.no-tooltip { cursor: inherit; }
.summary-stats-column .icon { float: left; height: 16px; margin-right: 5px; }
.summary-stats-column .name { float: left; }
.summary-stats-column .value { float: right; color: #F5EBD1; }
.summary-stats-end { clear: left; }
.summary-stats-simple-base, .summary-stats-advanced-base { float: left; }
.summary-stats-simple-other { position: relative; }
.summary-stats-simple-other, .summary-stats-advanced-role { float: left; }
.summary-stats-advanced li { padding: 10px 0; border-top: 1px solid #2f1e18; }
a.summary-stats-toggler, a.summary-stats-toggler .inner { display: block; height: 26px; line-height: 26px; background: url("../img/stats-expand-bg.gif") left top no-repeat; font-size: 11px; }
a.summary-stats-toggler { margin-top: 15px; text-align: center; padding-left: 10px; }
a.summary-stats-toggler .inner { background-position: right top; padding-right: 10px; }
a.summary-stats-toggler:hover { background-position: left bottom; }
a.summary-stats-toggler:hover .inner { background-position: right bottom; }

.table .sort-link,
.table .sort-tab { display: block; padding: 8px 10px; text-align: left; border-left: 1px solid #7c2804; border-top: 1px solid #7c2804; border-right: 1px solid #391303 }
.table .sort-link:hover { color: #fff; background: #595957 url("../img/table-header-hover.gif") 0 100% repeat-x; border-top-color: #af3900; border-left-color: #af3900 }
.table .sort-link .arrow { padding-left: 10px; background: url("../img/table-sort-arrows.gif") 0 -10px no-repeat }
.table .sort-link:hover .arrow { background-position: 0 -115px }
.table .sort-link .arrow.up,
.table .sort-link:hover .arrow.up { background-position: 0 -80px }
.table .sort-link .arrow.down,
.table .sort-link:hover .arrow.down { background-position: 0 -45px }
.table .sort-data.hidden { display: none; } /* table specificity for ie6 */

.rank
{
	float:left;
	color:#6E0B14;
}

.rank a
{
	color:#6E0B14;
}

#fade
{
    position: fixed;
    display: none;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background: gray; 
    z-index: 9999;
}
.popup
{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 99999;
    background: #9E9E9E;
    font-size:13px;
    letter-spacing:1px;
    border: 20px solid #ddd;

	/* BORDURES ARRONDIES */
	border-radius:4px;
	-webkit-border-radius:4px;
}
.popup-btn-close
{
    float: right; 
    margin: -55px -55px 0 0;
}
.removeButton
{
	cursor:pointer;
	border:0px;
    height: 16px;
	background:url(../img/icone_suppr.gif) no-repeat;
}
.modifyButton
{
	cursor:pointer;
	border:0px;
    height: 16px;
	background:url(../img/icone_modifier.png) no-repeat;
}